[Unit]
 Description=Script to execute before end
 DefaultDependencies=no
 Before=shutdown.target reboot.target halt.target 
  # This works because it is installed in the target and will be 
  # executed before the target state is entered 
  # Also consider kexec.target
[Service]
 Type=oneshot
 ExecStart=/root/beforeend.sh #your path and filename 
[Install]
 WantedBy=halt.target reboot.target shutdown.target
