#doStartPC.config
#
WIRED_DNS="1.1.1.1"
WIRED_IP="192.168.1.10"
WIRED_MASK="255.255.255.0"
WIRED_GW="192.168.1.1"
WIFI_SSID="SSID"
WIFI_PASSWORD="PASSSWORD"
ISO_LAST="https://downloads.raspberrypi.org/raspios_lite_armhf/images/raspios_lite_armhf-2021-05-28/2021-05-07-raspios-buster-armhf-lite.zip"
ISO_SHA256="c5dad159a2775c687e9281b1a0e586f7471690ae28f2f2282c90e7d59f64273c"
